# Hugo build output
/public/
/resources/_gen/
.hugo_build.lock

# Hugo cache
/.hugo_cache/

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Environment / secrets
.env
.env.local